@import "../../assets/css/variables.css";

.dashboard {
  color: white;
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  grid-template-rows: 1fr 1fr;
  gap: 16px;
  width: 90vw;
  max-width: 1000px;
  height: 420px;

  .user {
    background-color: var(--dark-blue);
  }

  .work {
    background-color: var(--color-work);
  }

  .play {
    background-color: var(--color-play);
  }

  .study {
    background-color: var(--color-study);
  }

  .excercise {
    background-color: var(--color-exercise);
  }

  .social {
    background-color: var(--color-social);
  }

  .self-care {
    background-color: var(--color-selfcare);
  }
}

.profile-card-container {
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  .profile-card {
    height: 65%;
    border-radius: 10px;
    background-color: var(--color-blue);
    padding: 1.5rem;

    img {
      width: 50%;
      border: 2px solid white;
      border-radius: 50%;
    }

    .profile-card-title {
      margin-top: 1.5rem;
      font-size: 0.7rem;
      color: var(--pale-blue);
    }
    .user-firstname,
    .user-lastname {
      font-size: 1.8rem;
      font-weight: var(--font-weight-light);
    }
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    font-size: 0.8rem;
    padding: 1.5rem;

    div {
      padding: 0.3rem 0rem;
    }

    div:hover {
      color: white;
    }

    .daily,
    .monthly {
      color: var(--desaturated-blue);
    }
  }
}

.activity-card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
  overflow: hidden;
  outline: none;

  .activity-icon {
    position: relative;
    left: calc(100% - 60px - 10px);
    top: -5px;
    height: 60px;
    width: 60px;
    overflow: hidden;
  }

  .activity-card {
    border-radius: 10px;
    height: 85%;
    background-color: var(--dark-blue);
    padding: 1em;
    z-index: 5;
    margin-top: -20px;

    &:not(.nohover):hover {
      cursor: pointer;
      filter: brightness(150%);
    }

    .title-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .dots-icon {
        width: 15px;
        height: 4px;
      }

      .dots-icon:hover {
        cursor: pointer;
        filter: brightness(150%);
      }
    }

    .activity-duration {
      font-size: 2.5rem;
      font-weight: var(--font-weight-light);
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }

    .last-period-container {
      font-size: 0.65rem;
      color: var(--pale-blue);
    }
  }
}
