<div class="dashboard">
  <div class="user profile-card-container">
    <div class="profile-card">
      <img
        src="../../assets/images/image-jeremy.png"
        alt="Jeremy's profile picture"
      />
      <div class="profile-card-title">Report for</div>
      <div class="user-firstname">Jeremy</div>
      <div class="user-lastname">Robson</div>
    </div>
    <div class="nav-menu">
      <a href="#">
        <div
          class="timeframe"
          (click)="onSelect('daily')"
          [class.selected]="'daily' === selectedTimeframe"
        >
          Daily
        </div>
      </a>
      <a href="#"
        ><div
          class="timeframe"
          (click)="onSelect('weekly')"
          [class.selected]="'weekly' === selectedTimeframe"
        >
          Weekly
        </div></a
      >
      <a href="#"
        ><div
          class="timeframe"
          (click)="onSelect('monthly')"
          [class.selected]="'monthly' === selectedTimeframe"
        >
          Monthly
        </div></a
      >
    </div>
  </div>

  <div
    *ngFor="let activity of activityData"
    class="{{
      activity.title.toLowerCase().replace(regex, '-')
    }} activity-card-container"
  >
    <img
      class="activity-icon"
      src="../../assets/images/icon-{{
        activity.title.toLowerCase().replace(regex, '-')
      }}.svg"
      alt=""
    />
    <div class="activity-card">
      <div class="title-container">
        <div class="activity-card-title">{{ activity.title }}</div>
        <img
          class="dots-icon"
          src="../../assets/images/icon-ellipsis.svg"
          alt="Dots"
        />
      </div>
      <div class="activity-duration">
        {{ activity.timeframes[selectedTimeframe].current }}hrs
      </div>
      <div class="last-period-container">
        Last <span class="last-period">{{ timeframeLabel }}</span> -
        <span id="lastPeriodWorkValue">
          {{ activity.timeframes[selectedTimeframe].previous }}</span
        >hrs
      </div>
    </div>
  </div>
</div>
